<html>                                                                  
<head>                                                                  
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>  
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script type="text/javascript">

var LIVE_CHAT = {
'chat_id' : {{ chat.id }},
'result_type' : "JSON",

	'get_messages' : function() {

		var divs = '';
		
		$.get("http://127.0.0.1:8000/messages/"+this.chat_id+"/", function(result)
		{
			$.each(result, function(index, value) { 
				divs = divs + "<div>"+ value.date_sent + " -> " + value.body + "</div>";
			});
			
			
			$("#message_list").html(divs);
			
		}, this.result_type);
	},
	'post_message' : function() {
		$.post("http://127.0.0.1:8000/add/"+this.chat_id+"/",{ 'body' : $("#id_body").val(),'ip' : $("#id_ip").val(),'chat' : $("#id_chat").val()}, function(result){
			if(result.error == "False" )
			{
				LIVE_CHAT.get_messages();
			}

		}, this.result_type)
	}
}
$(document).ready(function() {
	$("#submit_button").click(function() {	
	LIVE_CHAT.post_message();
	
	});
	{% if chat.status == "a" %}
	LIVE_CHAT.get_messages();
	{% endif %}
});


</script>
<style type="text/css">
#add_message_form
{
background-color:#d0e4fe;
}
#message_list
{
color:blue;
}
#submit_button
{
float: right;
height: 52px;
margin-right: 90px;
margin-top: -68px;
}
.message_body
{
height:50;
width:1000;
}
</style>                                                           
</head>                                                                 
<body>                                                                  
<div id="message_list" style="border: 1px solid Red">

</div>
<div id="add_message_form">
<form action="." method="post">{% csrf_token %}
		<ul>
			{{ form.as_ul }}
			
		</ul>
	<input accesskey="U" id="submit_button" type="button" value="Send" name="submit"/>
</form>
</div>
</body>                                                                 
</html>
<!--JSON - Javascript Object Notation

var obj = {'name':'Flavius','email':'flava@flavius.com'}-->


