<html>
<head><title>Messages</title></head>
<style type="text/css">
h1
{
font-family:Arial Black;
color:blue;
}
h2
{
color:black;
}
.clsdiv
{
font-family:Arial Black;
}
</style>
<body>

<h1> 

{{ messages.0.chat.title }}</br>
{{ messages.0.chat.start_date }}</br>
{{ messages.0.chat.ip }}


</h1>
<!--<ul>
{% for message in messages %}
<li><text>{{ message.body }} <b>at</b> </text> {{message.date_sent|date:"G:i:s"}} <text> <b>from</b> </text> {{ message.ip }} <text> 
</li><br/>
{% endfor %}
</ul>-->


{% for message in messages %}
	{{ message.date_sent|date:"G:i:s"}} :-->    {{ message.body }}
	</br>
{% endfor %}

</div>
</body>
</html>