<html>                                                                  
<head>                                                                  
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>  
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script type="text/javascript">
<!--JAVASCRIPT -->
var CHAT_LIST = {
'result_type' : "JSON",

	'get_chat' : function() {

		var tr = '';
		
		$.get("/chat/view/list/", function(result)
		{
		if(result.length > 0) {
			$.each(result, function(index, value) { 
				tr = tr + "<tr><td>"+value.id+"</td><td>"+ value.title + "</td><td><a href='/chat/view/"+value.id+"/'>Take Chat </a></td></tr>";
			});
				table = "<table><thead><th>Chat_Id</th><th>Chat_title</th></thead>"+tr+"</table>";
			
			
			$("#chat_view_list").html(table);}
		else
		{
			$("#chat_view_list").html("<span>We are sorry but for the moment there are no active chats!</span>");
		
}
			
		}, this.result_type);
	}};
$(document).ready(function() {
	CHAT_LIST.get_chat();
});
</script>
<style type="text/css">
<!--CSS -->
#chat_view_list
{
font-family:Arial;
color:red;
}
</style>                                                           
</head>                                                                 
<body>           
<h1>Chats:</h1>


<div id="chat_view_list"></div>

</body>                                                                 
</html>



